
/*******    COLOURS    *********************/

$headFootBG: rgba(247, 132, 31, 1);
$cta: #ac0404;
$tangerine: rgba(247, 132, 31, 1);
$secondary: #dbbfa5; /* browny, */
$tertiary: #FFDCBE; /* light orange, quotes */
$greyBG: #eaeaea;


.primary { background-color: rgba(247, 132, 31, 1);}
.secondary { background-color: rgba(170, 85, 11, 1);}
.tertiary { background-color: #FFDCBE;}
.cta {background-color: #b93207;}

.boxed {box-shadow: 0 0 3px rgba(0,0,0,.3);}

@import "sass/_mq.scss";
@import "sass/_header.scss";
@import "sass/_home_news.scss";
@import "sass/_quotes.scss";
@import "sass/_membership.scss";
@import "sass/_home_intro";
@import "sass/_partners";
@import "sass/_sidebar";
@import "sass/_single";

.content-area {
	padding-top: 40px;
}
.home-news {
	background: $greyBG;
	article {
		@include breakpoint(mob) {
			margin-bottom: 20px!important;	
		}
	}
}
.news {
	position: relative;
}

.masonry .site-content {
	margin: 0;
}
.intro {
	background: #fdfaf4;
	text-align: center;
	overflow: hidden;
	img {
		margin-top: 70px;
	}
	> p {
		font-size: 28px;
		width: 70%; 
		margin: 0 auto 40px auto;
	}
	li {
		font-size: 24px;
		display: inline;
	}
}
.aims {
	text-align: left;
}
button {
  padding: 10px 20px;
  font-size: 24px;
}
img {
	max-width: 100%;
}
.header-meta {
	padding: 4px 24px;
}
.internal-page {
	background: white;
}


.navbar {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

.nav-menu {
	text-transform: uppercase;
}
.nav-menu li a {
	font-size: 16px;
}
.hentry {
	padding: 0;
}

.featured-image {
	margin: 12px 0;
}
.entry-meta {
	margin-bottom: 6px;
}
.entry-meta a {
	font-size: 18px!important;
}
.widget ul {
  list-style-type: square;
  margin-left: 12px;	
}
.archive #content {
	background: rgba(219, 191, 165, 1);
}
.archive .content-area, .search .content-area {
	padding-top: 0;
	padding-bottom: 0;
}
.archive-title {
	font-size: 26px;
}
.search-results {
	h2 {
		font-size: 24px;
	}
	h2 {
		margin-bottom: 2px;
	}
	p {
		font-size: 18px;
	}
}

.archive-header, .paging-navigation {
	background: #FFFCE2;
}
#secondary .widget-title, #secondary .textwidget {
	text-align: left;
}
 #secondary .textwidget { 
 	font-size: 18px;
 	line-height: 1.2;
 }
 .category-home {
	position: absolute;
  	top: 0;
  	right: 0;
	background: rgba(247, 132, 31, 0.9);
  	color: white!important;
 }
 .category-home a { 
 	color: white;
  	text-transform: uppercase;
    padding: 6px;
}
.the-date {
	color: #999;
	padding-left: 12px;
	font-size: 18px;
}
.main-navigation {
	max-width: none;
}
.header-meta {
	padding-left: 16px;
}
.boxes a:hover {
	background: #b93207;
	color: white;
}
.quotes {
	a {
		margin-bottom: 24px;
		@extend .cta;
	}
}
footer {
	overflow: hidden;
	color: white;
}
footer aside .widget {
	background: black;
}
.screen-reader {
	display: none;
}
.paging-navigation {
	background: $greyBG;
	margin-bottom: 0;
	padding: 0 0 30px 0;
}
.nav-previous .meta-nav, .nav-next .meta-nav {
	padding: 0!important;
	width: 42px!important;
}
.paging-navigation .nav-next {
	padding: 0;
}
.internal-page {
	background: $greyBG;
	overflow: hidden;
	.inner-content {
		@include breakpoint(768) {
			float: left;
			width: 66%;
		}
	}
	section {
		@include breakpoint(mob) { 
			padding: 10px;
			margin-top: 10px;
		}
		padding: 40px;
		background: white;
		width: 95%;
		margin: 20px auto;
		@extend .boxed;
	}
	img {
		margin-bottom: 20px;
	}
	h1 {
		margin: 0;
		font-weight: normal;
		@include breakpoint(mob) {
			font-size: 30px;
			margin-bottom: 16px;
		}
		font-size: 36px;
		padding-top: 20px;
		text-align: center;
		font-style: italic;
	}
	.featured {
		text-align: center;
	}
}
#primary {
	overflow: hidden;
}
#category {
	.site-content {
		margin: 0;
	}
	.archive-title {
		max-width: 100%;
	}
}

/* CLEAR FIX.  Just add .group to parent off floats you want to clear */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
