/*******    COLOURS    *********************/
/* browny, */
/* light orange, quotes */
.primary {
  background-color: #f7841f; }

.secondary {
  background-color: #aa550b; }

.tertiary {
  background-color: #FFDCBE; }

.cta, #pricing-table .mepr-price-box-button a, .introBlock a, .quotes a {
  background-color: #b93207; }

.boxed, .internal-page section {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

/* HEADER */
.cta, #pricing-table .mepr-price-box-button a, .introBlock a, .quotes a {
  background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%);
  border: none;
  border-bottom: 3px solid #b93207;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 11px 24px 10px;
  text-decoration: none;
  font-size: 18px; }
  .cta:hover, #pricing-table .mepr-price-box-button a:hover, .introBlock a:hover, .quotes a:hover {
    background: #b93207; }

.navbar {
  font-family: Helvetica, sans-serif; }

.nav-menu li a {
  font-size: 18px;
  color: #000; }

.widget {
  background: #f1f1f1; }

.widget-title {
  font-weight: bold !important; }

.home-link {
  text-align: center; }

.site-title {
  font-weight: bold;
  line-height: 1;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif; }

h1.site-title {
  font-size: 56px !important; }

.site-header .home-link {
  max-width: none; }

h1.entry-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.1; }

.nav-menu .sub-menu, .nav-menu .children {
  border: none; }

.header-meta {
  background: #232533;
  overflow: hidden;
  padding: 0 20px;
  position: relative; }
  @media (min-width: 0) and (max-width: 768px) {
    .header-meta {
      padding-left: 4px !important; } }
  .header-meta .bst-text {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    color: white;
    font-size: 36px;
    letter-spacing: 0;
    text-transform: uppercase; }
    @media (min-width: 0) and (max-width: 768px) {
      .header-meta .bst-text {
        font-size: 18px;
        margin: 0 0 4px 0; } }
  .header-meta .join {
    float: right;
    padding: 8px 16px;
    border: 1px solid #ffc151;
    color: #ffc151;
    margin-top: 4px;
    text-transform: uppercase; }
    @media (min-width: 0) and (max-width: 768px) {
      .header-meta .join {
        padding: 1px 6px;
        margin-top: 0;
        position: absolute;
        top: 6px;
        right: 2px;
        font-size: 14px; } }
  .header-meta .join:hover {
    text-decoration: none;
    background: #ffc151;
    color: white; }

.news .article {
  padding: 0; }

.entry-summary p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 0; }

.entry-content {
  font-size: 20px; }

.entry-header {
  margin-bottom: 0; }

.site-main {
  background: white;
  overflow: hidden !important; }

.masonry .site-content article {
  padding: 0 !important;
  box-shadow: none; }

.masonry h1.entry-title, .masonry p {
  margin: 0 0.8rem; }

.masonry h1.entry-title {
  margin-top: 8px; }

.masonry p {
  margin-bottom: 8px; }

.masonry .entry-thumbnail img {
  margin: 0; }

.quotes {
  background: #FFDCBE;
  padding: 20px;
  text-align: center;
  overflow: hidden; }
  .quotes h2 {
    font-family: 'Droid Sans Mono';
    padding: 0 0.6em;
    font-size: 26px;
    margin-bottom: 0;
    color: black; }
  .quotes h2::before, .quotes h2::after {
    content: "\0022"; }
  .quotes h3 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 22px;
    color: #5e4409; }
  .quotes p {
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 1em; }

.membership .inner-content {
  width: 100% !important;
  float: none; }
.membership .mp_wrapper {
  width: 100% !important; }

.join .inner-content {
  width: 100% !important; }

#member-signup, #my-account {
  text-align: center; }
  #member-signup .mp_wrapper, #my-account .mp_wrapper {
    text-align: center;
    max-width: 100% !important; }
  #member-signup .mp_wrapper form, #my-account .mp_wrapper form {
    text-align: center; }

#my-account .inner {
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 0) and (max-width: 768px) {
    #my-account .inner {
      width: 100%; } }
#my-account #mepr_account_form {
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 0) and (max-width: 768px) {
    #my-account #mepr_account_form {
      width: 90%; } }

#pricing-table {
  text-align: center;
  margin-bottom: 40px; }
  #pricing-table .mepr-price-box-benefits-list div:nth-child(odd) {
    background: #fcd5b3; }
  #pricing-table .mepr-price-box {
    background: #fef0e4;
    padding: 0;
    margin-bottom: 20px;
    width: 22%;
    margin-right: 24px; }
    @media (min-width: 0) and (max-width: 768px) {
      #pricing-table .mepr-price-box {
        width: 100%; } }
    #pricing-table .mepr-price-box:last-child {
      margin-right: 0; }
  #pricing-table .mepr-price-box-benefits-item {
    border-bottom: none;
    font-weight: normal; }
  #pricing-table .mepr-price-box-price {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0; }

.mepr-nav-item a {
  background-color: #717171;
  color: white;
  padding: 8px;
  text-decoration: none; }

.mepr-active-nav-tab a {
  background: #ac0404;
  font-weight: normal; }

/* FROM CODEPEN */
.slider {
  background: url(/wp-content/uploads/2015/06/bloomfieldroad1800-926.jpg);
  padding-bottom: 20px; }

.bst-logo {
  text-align: center;
  margin: 40px auto;
  width: 70%; }

.bst-logo img {
  max-width: 80%; }

.introBlock {
  background: white;
  padding: 2em;
  position: relative;
  margin-bottom: 46px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95); }
  .introBlock a {
    text-transform: uppercase; }

.boxes svg {
  position: absolute;
  width: 70px;
  height: 80px;
  display: block;
  top: -40px;
  fill: #f7841f; }

.boxes svg:nth-child(2) {
  fill: white;
  width: 44px;
  height: 60px;
  top: -30px; }

.boxes p {
  padding: 12px 0;
  font-size: 22px;
  line-height: 1.3; }

.absCentre {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

#circle {
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

a.button {
  color: #b93207;
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #b93207;
  text-transform: uppercase; }

.solid {
  color: #fff !important;
  background: #b93207; }

.main-cta {
  background: #b93207;
  color: white !important; }

@media (min-width: 0) and (max-width: 768px) {
  .partners {
    text-align: center; } }

.bst-sidebar {
  display: block; }
  @media (min-width: 768px) {
    .bst-sidebar {
      width: 30%;
      display: inline-block;
      float: right; } }
  .bst-sidebar .widget {
    background: #f7f7f7 !important; }

aside.widget:nth-child(odd) {
  border-top: 5px #f7841f solid; }

aside.widget:nth-child(even) {
  border-top: 5px #aa550b solid; }

.widget-title {
  font-style: normal !important;
  text-align: center; }

.textwidget {
  text-align: center;
  line-height: 1.4em;
  margin-bottom: 10px; }

.widget a, .widget li, .widget p {
  font-size: 17px !important; }

.textwidget a {
  margin-top: 12px; }

.pagination a {
  display: block;
  margin-bottom: 12px; }
  @media (min-width: 1024px) {
    .pagination a {
      display: inline; } }
  .pagination a[rel=next] {
    float: left; }
  .pagination a[rel=prev] {
    float: right; }
.pagination svg {
  width: 15px;
  height: 15px;
  display: block; }

.content-area {
  padding-top: 40px; }

.home-news {
  background: #eaeaea; }
  @media (min-width: 0) and (max-width: 768px) {
    .home-news article {
      margin-bottom: 20px !important; } }

.news {
  position: relative; }

.masonry .site-content {
  margin: 0; }

.intro {
  background: #fdfaf4;
  text-align: center;
  overflow: hidden; }
  .intro img {
    margin-top: 70px; }
  .intro > p {
    font-size: 28px;
    width: 70%;
    margin: 0 auto 40px auto; }
  .intro li {
    font-size: 24px;
    display: inline; }

.aims {
  text-align: left; }

button {
  padding: 10px 20px;
  font-size: 24px; }

img {
  max-width: 100%; }

.header-meta {
  padding: 4px 24px; }

.internal-page {
  background: white; }

.navbar {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%; }

.nav-menu {
  text-transform: uppercase; }

.nav-menu li a {
  font-size: 16px; }

.hentry {
  padding: 0; }

.featured-image {
  margin: 12px 0; }

.entry-meta {
  margin-bottom: 6px; }

.entry-meta a {
  font-size: 18px !important; }

.widget ul {
  list-style-type: square;
  margin-left: 12px; }

.archive #content {
  background: #dbbfa5; }

.archive .content-area, .search .content-area {
  padding-top: 0;
  padding-bottom: 0; }

.archive-title {
  font-size: 26px; }

.search-results h2 {
  font-size: 24px; }
.search-results h2 {
  margin-bottom: 2px; }
.search-results p {
  font-size: 18px; }

.archive-header, .paging-navigation {
  background: #FFFCE2; }

#secondary .widget-title, #secondary .textwidget {
  text-align: left; }

#secondary .textwidget {
  font-size: 18px;
  line-height: 1.2; }

.category-home {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(247, 132, 31, 0.9);
  color: white !important; }

.category-home a {
  color: white;
  text-transform: uppercase;
  padding: 6px; }

.the-date {
  color: #999;
  padding-left: 12px;
  font-size: 18px; }

.main-navigation {
  max-width: none; }

.header-meta {
  padding-left: 16px; }

.boxes a:hover {
  background: #b93207;
  color: white; }

.quotes a {
  margin-bottom: 24px; }

footer {
  overflow: hidden;
  color: white; }

footer aside .widget {
  background: black; }

.screen-reader {
  display: none; }

.paging-navigation {
  background: #eaeaea;
  margin-bottom: 0;
  padding: 0 0 30px 0; }

.nav-previous .meta-nav, .nav-next .meta-nav {
  padding: 0 !important;
  width: 42px !important; }

.paging-navigation .nav-next {
  padding: 0; }

.internal-page {
  background: #eaeaea;
  overflow: hidden; }
  @media (min-width: 768px) {
    .internal-page .inner-content {
      float: left;
      width: 66%; } }
  .internal-page section {
    padding: 40px;
    background: white;
    width: 95%;
    margin: 20px auto; }
    @media (min-width: 0) and (max-width: 768px) {
      .internal-page section {
        padding: 10px;
        margin-top: 10px; } }
  .internal-page img {
    margin-bottom: 20px; }
  .internal-page h1 {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    padding-top: 20px;
    text-align: center;
    font-style: italic; }
    @media (min-width: 0) and (max-width: 768px) {
      .internal-page h1 {
        font-size: 30px;
        margin-bottom: 16px; } }
  .internal-page .featured {
    text-align: center; }

#primary {
  overflow: hidden; }

/* CLEAR FIX.  Just add .group to parent off floats you want to clear */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
