.membership {
  .inner-content {
    width: 100%!important;
    float: none;
  }
  .mp_wrapper {
 
    .mp-form-row {
      width: 40%;
    }
  }
}
.join .inner-content {
  width: 100%!important;
}

#member-signup, #my-account {
  text-align: center;
  .mp_wrapper {
    text-align: center;
        max-width: 100%!important;
  }
  .mp_wrapper form {
    text-align: center;  
  }
}

#my-account {
  .inner {
    @include breakpoint(mob) {
      width: 100%;  
    }
 
    margin: 0 auto;
  }
  #mepr_account_form {
    width: 60%;
    margin: 0 auto;
    @include breakpoint(mob) {
      width: 90%;  
    }
  }
  .mepr-login-form-wrap {
    @include breakpoint(mob) {
      width: 80%;      
    }
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
}

#pricing-table {
  .mepr-price-menu  {
    text-align: center; 
    margin-bottom: 40px;
    .mepr-price-box-benefits-list div:nth-child(odd) {
      background: lighten($tangerine,30%);
    }
    .mepr-price-box {
      background: lighten($tangerine,40%);
      padding: 0;
       margin-bottom: 20px;
      @include breakpoint(mob) {
        width: 100%;
      }
      width: 22%;
      margin-right: 24px;
      &:last-child {margin-right:0;}
    }
    .mepr-price-box-benefits-item {
      border-bottom: none;
      font-weight: normal;
    }
    .mepr-price-box-button a {
      @extend .cta;
    }
    .mepr-price-box-price {
      font-size: 24px;
      font-weight: normal;
      margin-top: 0;
    }
  }
}

.mepr-nav-item {
  a {
    background-color: #717171;
    color: white;
    padding: 8px;
    text-decoration: none;
    &:hover {

    }
  }
}
.mepr-active-nav-tab {
  a {
    background: $cta;
    font-weight: normal;
  }
}