#pricing-table {
  text-align: center; 
  margin-bottom: 40px;
  .mepr-price-box-benefits-list div:nth-child(odd) {
    background: lighten($tangerine,30%);
  }
  .mepr-price-box {
    background: lighten($tangerine,40%);
    padding: 0;
    width: 20%;
      margin-right: 24px;
  }
  .mepr-price-box-benefits-item {
    border-bottom: none;
    font-weight: normal;
  }
  .mepr-price-box-button a {
    @extend .cta;
  }
  .mepr-price-box-price {
    font-size: 26px;
    font-weight: normal;
  }
  .mepr-price-box-title {
    text-transform: uppercase;
  }
}